/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/
artisan
bootstrap/
config/
database/
package-lock.json
package.json
phpunit.xml
public/
resources/
routes/
server.php
storage/
tests/
.editorconfig
.env.example
.gitattributes
.styleci.yml
README.md
webpack.mix.js